'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'bouzuya-focus'
      'submenu': [
        {
          'label': 'Focus workspace view'
          'command': 'bouzuya-focus:focus-workspace-view'
        }
      ]
    ]
  }
]
